<ion-header>
  <ion-toolbar  class="headerToolbar">
    <ion-title>
        <div>
            <ion-grid [ngStyle]="{'direction': dir}" style="padding-bottom:0px">
                <ion-row>
                    <ion-col class="textAlignStart" size="2" style="padding:0px">
                    	<div style="padding-top:5px">
                            <ion-icon name="{{arrowBack}}" slot="icon-only" class="PNIcon"  (click)="functionBack()"></ion-icon>
                        </div>
                    </ion-col>
                     <ion-col class="textAlignCenter" size="8">
                    	<div style="font-size:18px;color:#000000">
                       	{{taskDetails}}: #{{requestIdVal}}
                        </div>
                    </ion-col>
                    <ion-col class="textAlignEnd" size="2" style="padding:0px">
                    	<div style="padding-top:5px">
                        <ion-badge *ngIf="newNotifications!=0" class="classValData" slot="start" mode='ios'>{{newNotifications}}</ion-badge>
                        <ion-icon name="notifications" slot="icon-only" class="PNIcon"  (click)="functionPushNotifications()"></ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div class="startWightCurv">
        <div class="wightCurv"></div>
    </div>
     <div class="allPage">
        <div style="padding-top:10px;padding-bottom:100px">
            <div>
            	<div class="ordersInformation" *ngIf="exisetUserTaskVal == 1">{{employee}}: {{supervisor}} {{fullNameToTaskVal}}</div>
                <div class="ordersInformation" *ngIf="exisetUserTaskVal == 0">{{employee}}: {{previousEmployee}} {{fullNameToTaskVal}}</div>
				<div class="ordersInformation" *ngIf="exisetUserTaskbyVal == 1">{{assignedBy}}: {{manager}} {{fullNameToTaskbyVal}}  {{lastStatusTaskTimeVal}}</div>
                <div class="ordersInformation" *ngIf="exisetUserTaskbyVal == 0">{{assignedBy}}: {{previousEmployee}} {{fullNameToTaskbyVal}}  {{lastStatusTaskTimeVal}}</div>
                <div class="ordersInformation" *ngIf="exisetUserTaskStatusVal == 1 && lastStatusTask==0">{{status}}: {{new}} {{by}} {{manager}} {{fullNameAddTaskStatusVal}} {{lastStatusTaskTimeVal}}</div>
                <div class="ordersInformation" *ngIf="exisetUserTaskStatusVal == 0 && lastStatusTask==0">{{status}}: {{new}} {{by}} {{previousEmployee}} {{fullNameAddTaskStatusVal}} {{lastStatusTaskTimeVal}}</div>
                <div class="ordersInformation" *ngIf="employeetypeTaskStatusVal == 1 && exisetUserTaskStatusVal == 1 && lastStatusTask==1">{{status}}: {{inProgress}} {{by}} {{supervisor}} {{fullNameAddTaskStatusVal}} {{lastStatusTaskTimeVal}}</div>
                <div class="ordersInformation" *ngIf="employeetypeTaskStatusVal == 1 && exisetUserTaskStatusVal == 0 && lastStatusTask==1">{{status}}: {{inProgress}} {{by}} {{previousEmployee}} {{fullNameAddTaskStatusVal}} {{lastStatusTaskTimeVal}}</div>                
                <div class="ordersInformation" *ngIf="employeetypeTaskStatusVal == 2 && exisetUserTaskStatusVal == 1 && lastStatusTask==1">{{status}}: {{inProgress}} {{by}} {{manager}} {{fullNameAddTaskStatusVal}} {{lastStatusTaskTimeVal}}</div>
                <div class="ordersInformation" *ngIf="employeetypeTaskStatusVal == 2 && exisetUserTaskStatusVal == 0 && lastStatusTask==1">{{status}}: {{inProgress}} {{by}} {{previousEmployee}} {{fullNameAddTaskStatusVal}} {{lastStatusTaskTimeVal}}</div>
                <div class="ordersInformation" *ngIf="exisetUserTaskStatusVal == 1 && exisetUserTaskStatusVal == 1 && lastStatusTask==2">{{status}}: {{resolved}} {{by}} {{supervisor}} {{fullNameAddTaskStatusVal}} {{lastStatusTaskTimeVal}}</div>
                <div class="ordersInformation" *ngIf="exisetUserTaskStatusVal == 1 && exisetUserTaskStatusVal == 0 && lastStatusTask==2">{{status}}: {{resolved}} {{by}} {{previousEmployee}} {{fullNameAddTaskStatusVal}} {{lastStatusTaskTimeVal}}</div>
                <div class="ordersInformation" *ngIf="exisetUserTaskStatusVal == 2 && exisetUserTaskStatusVal == 1 && lastStatusTask==2">{{status}}: {{resolved}} {{by}} {{manager}} {{fullNameAddTaskStatusVal}} {{lastStatusTaskTimeVal}}</div>
                <div class="ordersInformation" *ngIf="exisetUserTaskStatusVal == 2 && exisetUserTaskStatusVal == 0 && lastStatusTask==2">{{status}}: {{resolved}} {{by}} {{previousEmployee}} {{fullNameAddTaskStatusVal}} {{lastStatusTaskTimeVal}}</div>
                <div class="ordersInformation" *ngIf="exisetUserTaskStatusVal == 1 && exisetUserTaskStatusVal == 1 && lastStatusTask==3">{{status}}: {{onHold}} {{by}} {{supervisor}} {{fullNameAddTaskStatusVal}} {{lastStatusTaskTimeVal}}</div>
                <div class="ordersInformation" *ngIf="exisetUserTaskStatusVal == 1 && exisetUserTaskStatusVal == 0 && lastStatusTask==3">{{status}}: {{onHold}} {{by}} {{previousEmployee}} {{fullNameAddTaskStatusVal}} {{lastStatusTaskTimeVal}}</div>
                <div class="ordersInformation" *ngIf="exisetUserTaskStatusVal == 2 && exisetUserTaskStatusVal == 1 && lastStatusTask==3">{{status}}: {{onHold}} {{by}} {{manager}} {{fullNameAddTaskStatusVal}} {{lastStatusTaskTimeVal}}</div>
                <div class="ordersInformation" *ngIf="exisetUserTaskStatusVal == 2 && exisetUserTaskStatusVal == 0 && lastStatusTask==3">{{status}}: {{onHold}} {{by}} {{previousEmployee}} {{fullNameAddTaskStatusVal}} {{lastStatusTaskTimeVal}}</div>
                <div style="width:70%;border-top:2px solid #ccc; margin-top:10px;margin-bottom:10px; margin-left:15%; margin-right:15%"></div>
				<div class="ordersInformation" style="color:#bc0101; font-size:15px">{{orderDetails}}</div>
              	<div class="ordersInformation" style="color:#D10000; font-weight:bold; font-size:14px">{{requestId}}: #{{requestIdVal}}</div>  
              	<div class="ordersInformation">{{departmentName}}: {{departmentNameVal}}</div>
                <div class="ordersInformation">{{urgency}}: {{urgencyVal}}</div>
                <div class="ordersInformation">{{machineNumber}}: {{machineNumberVal}}</div>
                <div class="ordersInformation">{{machineDescription}}: {{machineDescriptionVal}}</div>
                <div class="ordersInformation">{{machineStatus}}: {{machineWorkingStatus}}</div>
                <div class="ordersInformation">{{faultDescription}}: <div style="height:100%;max-height:100px; overflow:auto">{{faultDescriptionVal}}</div></div>
                <div style="width:70%;border-top:2px solid #ccc; margin-top:10px;margin-bottom:10px; margin-left:15%; margin-right:15%"></div>
 				<div >
                    <ion-grid [ngStyle]="{'direction': dir}" style="padding-bottom:0px" *ngFor="let item of filseVal">
                        <ion-row>
                            <ion-col (click)="functionShowFile(item.link)" class="textAlignStart" style="padding:0px">
                                <div class="filesClass" (click)="functionShowFile(item.link)">
                                	 <img src="../../assets/imgs/files.png" style="width:20px" (click)="functionShowFile(firstFileVal)"> {{item.name}}
                                </div>
                            </ion-col>
                        </ion-row>
                	</ion-grid>
                </div>
                <div class="ordersInformation" *ngIf="employeetypeVal == 1 && exisetUserVal == 1" style="color:green; font-weight:bold; font-size:14px">{{addedBy}}: {{supervisor}} {{fullNameAddByVal}} {{insertTimeVal}}</div>
                <div class="ordersInformation" *ngIf="employeetypeVal == 2 && exisetUserVal == 1" style="color:green; font-weight:bold; font-size:14px">{{addedBy}}: {{manager}} {{fullNameAddByVal}} {{insertTimeVal}}</div>
                <div class="ordersInformation" *ngIf="employeetypeVal == 1 && exisetUserVal == 0" style="color:green; font-weight:bold; font-size:14px">{{addedBy}}: {{previousEmployee}} {{fullNameAddByVal}} {{insertTimeVal}}</div>
                <div class="ordersInformation" *ngIf="employeetypeApproVal == 2 && exisetUserApproVal == 1">{{approvedBy}}: {{manager}} {{fullNameAddApproVal}} {{approveTimeVal}}</div>
                <div class="ordersInformation" *ngIf="employeetypeApproVal == 2 && exisetUserApproVal == 0">{{approvedBy}}: {{previousEmployee}} {{fullNameAddApproVal}} {{approveTimeVal}}</div>
                <div class="ordersInformation" *ngIf="employeetypeStatusVal == 2 && exisetUserStatusVal == 1 && lastStatusVal == 2">{{status}}: {{inProgressBy}} {{manager}} {{fullNameAddStatusVal}} {{lastStatusTimeVal}}</div>
                <div class="ordersInformation" *ngIf="employeetypeStatusVal == 2 && exisetUserStatusVal == 0 && lastStatusVal == 2">{{status}}: {{inProgressBy}} {{previousEmployee}} {{fullNameAddStatusVal}} {{lastStatusTimeVal}}</div>
                <div class="ordersInformation" *ngIf="employeetypeStatusVal == 2 && exisetUserStatusVal == 1 && lastStatusVal == 3">{{status}}: {{resolvedBy}} {{manager}} {{fullNameAddStatusVal}} {{lastStatusTimeVal}}</div>
                <div class="ordersInformation" *ngIf="employeetypeStatusVal == 2 && exisetUserStatusVal == 0 && lastStatusVal == 3">{{status}}: {{resolvedBy}} {{previousEmployee}} {{fullNameAddStatusVal}} {{lastStatusTimeVal}}</div>
                <div class="ordersInformation" *ngIf="employeetypeStatusVal == 2 && exisetUserStatusVal == 1 && lastStatusVal == 4">{{status}}: {{canceledBy}} {{manager}} {{fullNameAddStatusVal}} {{lastStatusTimeVal}}</div>
                <div class="ordersInformation" *ngIf="employeetypeStatusVal == 2 && exisetUserStatusVal == 0 && lastStatusVal == 4">{{status}}: {{canceledBy}} {{previousEmployee}} {{fullNameAddStatusVal}} {{lastStatusTimeVal}}</div>
                <div class="ordersInformation" *ngIf="employeetypeStatusVal == 2 && exisetUserStatusVal == 1 && lastStatusVal == 5">{{status}}: {{reopenedBy}} {{manager}} {{fullNameAddStatusVal}} {{lastStatusTimeVal}}</div>
                <div class="ordersInformation" *ngIf="employeetypeStatusVal == 2 && exisetUserStatusVal == 0 && lastStatusVal == 5">{{status}}: {{reopenedBy}} {{previousEmployee}}  {{fullNameAddStatusVal}} {{lastStatusTimeVal}}</div>
                <div style="width:100%;border-top:2px solid #ccc; margin-top:5px"></div>										
				<!---add form---->
            </div>
        </div>
     </div>
     <!--department suberviser-->
    <ion-footer  class="ion-no-border" style="position:fixed;bottom:0px">
       <ion-toolbar class="footerToolbar">
        <div class="width100">
            <div class="menueClass" (click)="functionHome()" [ngStyle]="{'float': float}">
                <div><img src="../../assets/imgs/home.png" style="width:18px"></div>
            	<div class="labelClass">{{menu5}}</div>
            </div>
            <div class="menueClass" (click)="functionAccount()" [ngStyle]="{'float': float}">
                <div><img src="../../assets/imgs/information.png" style="width:18px"></div>
                <div class="labelClass">{{menu7}}</div>
            </div>
            <div class="menueClass" [ngStyle]="{'float': float}" style="height:60px">
            	<div></div>
            </div>
             <!--department maneger-->
            <div class="menueClass" *ngIf="type=='man' || type=='itMan'" (click)="functionTeam()" [ngStyle]="{'float': float}">
                <div><img src="../../assets/imgs/team.png" style="width:18px"></div>
                <div class="labelClass">{{menu8}}</div>
            </div>
            <!--department maneger-->
            <div class="menueClass" *ngIf="departmentId==1 && type=='suber'"  (click)="functionNewtasks()" [ngStyle]="{'float': float}">
                <div><img src="../../assets/imgs/orders.png" style="width:18px"></div>
                <div class="labelClass">{{newTasks}}</div>
            </div>
            <!--department maneger-->
             <div class="menueClass" (click)="settings()"  [ngStyle]="{'float': float}">
                <div><img src="../../assets/imgs/setting.png" style="width:18px"></div>
                <div class="labelClass">{{menu3}}</div>
            </div>
        </div>
        </ion-toolbar>
    </ion-footer>
        <div class="addImageCss" *ngIf="type=='man' || (departmentId!=1 && type=='suber')"><img (click)="functionAddrequest()" src="../../assets/imgs/add.png" class="addImageclass"></div>
        <div class="addImageCss" *ngIf="departmentId==1 && type=='suber'"><img (click)="functionProgressTasks()" src="../../assets/imgs/newRequest.png" class="addImageclass"></div>
</ion-content>