<ion-header>
  <ion-toolbar  class="headerToolbar">
    <ion-title>
        <div>
            <ion-grid [ngStyle]="{'direction': dir}" style="padding-bottom:0px">
                <ion-row>
                    <ion-col class="textAlignStart" size="2" style="padding:0px">
                    	<div style="padding-top:5px">
                        	<img src="../../assets/imgs/logo.png" style="width:35px">
                        </div>
                    </ion-col>
                     <ion-col class="textAlignCenter" size="8">
                    	<div style="font-size:20px;color:#000000">
                       {{settingsTitle}}
                        </div>
                    </ion-col>
                     <ion-col *ngIf="isLogin==1" class="textAlignEnd" size="2" style="padding:0px">
                    	<div style="padding-top:5px">
                        <ion-badge *ngIf="newNotifications!=0" class="classValData" slot="start" mode='ios'>{{newNotifications}}</ion-badge>
                        <ion-icon name="notifications" slot="icon-only" class="PNIcon"  (click)="functionPushNotifications()"></ion-icon>
                        </div>
                    </ion-col>
                     <ion-col *ngIf="isLogin==0" class="textAlignEnd" size="2" style="padding:0px">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div class="startWightCurv">
        <div class="wightCurv"></div>
    </div>
     <div class="allPage">
        <div class="marginTop20 pagBack">
            <div class="divButtonClass">
            	<ion-button *ngIf="isLogin==0" class="oneButton fontSize14" (click)="forgotPassword()" id="submit">{{menu4}}</ion-button>
            	<ion-button *ngIf="isLogin==1" class="oneButton fontSize14" (click)="changePassword()" id="submit">{{settingsChangPass}}</ion-button>
            </div>
            <!--<div class="keyDiv">
                <ion-toolbar [ngStyle]="{'direction': dir}" mode='ios'>
                    <ion-title class="ionTitle">{{settingsLanguage}}</ion-title>
                    <ion-segment [ngStyle]="{'direction': dir}" value="{{checkLangSelected}}">
                    <ion-segment-button value="2" (click)="changeLange(2)">English</ion-segment-button>
                    <ion-segment-button value="1" (click)="changeLange(1)">عربي</ion-segment-button>
                    </ion-segment>
                </ion-toolbar>
            </div>-->
              <div class="keyDiv">
                <ion-toolbar [ngStyle]="{'direction': dir}" mode='ios'>
                    <ion-title class="ionTitle">{{settingsAllowPn}}</ion-title>
                    <ion-segment [ngStyle]="{'direction': dir}" value="{{checkAllowPn}}">
                    <ion-segment-button value="2" (click)="clickedAllowPn(2)">{{settingsNo}}</ion-segment-button>
                    <ion-segment-button value="1" (click)="clickedAllowPn(1)">{{settingsYas}}</ion-segment-button>
                    </ion-segment>
                </ion-toolbar>
            </div>
             <div class="keyDiv">
                <ion-toolbar [ngStyle]="{'direction': dir}" mode='ios'>
                    <ion-title class="ionTitle">{{settingsShowImage}}</ion-title>
                    <ion-segment [ngStyle]="{'direction': dir}" value="{{checkShowImage}}">
                    <ion-segment-button value="2" (click)="clickedShowImage(2)">{{settingsNo}}</ion-segment-button>
                    <ion-segment-button value="1" (click)="clickedShowImage(1)">{{settingsYas}}</ion-segment-button>
                    </ion-segment>
                </ion-toolbar>
            </div>
            <div class="lineDiv"></div>
             <div class="divButtonClass">
            	<ion-button class="oneButton fontSize14" (click)="functionAbout()" id="submit">{{menu2}}</ion-button>
            </div>
             <div class="divButtonClass" *ngIf="isLogin==1">
            	<ion-button class="oneButton fontSize14" (click)="logOut()" id="submit">{{signOut}}</ion-button>
            </div>
        </div>
     </div>
     <!--department suberviser-->     
    <ion-footer *ngIf="isLogin==1"  class="ion-no-border" style="position:fixed;bottom:0px">
       <ion-toolbar class="footerToolbar">
        <div class="width100">
            <div class="menueClass" (click)="functionHome()" [ngStyle]="{'float': float}">
                <div><img src="../../assets/imgs/home.png" style="width:18px"></div>
            	<div class="labelClass">{{menu5}}</div>
            </div>
            <div class="menueClass"  (click)="functionAccount()" [ngStyle]="{'float': float}">
                <div><img src="../../assets/imgs/information.png" style="width:18px"></div>
                <div class="labelClass">{{menu7}}</div>
            </div>
            <div class="menueClass" [ngStyle]="{'float': float}" style="height:60px">
            	<div></div>
            </div>
            <!--department suberviser-->
             <div class="menueClass" *ngIf="departmentId!=1 && type=='suber'"  (click)="functionRequest()" [ngStyle]="{'float': float}">
                <div><img src="../../assets/imgs/orders.png" style="width:18px"></div>
                <div class="labelClass">{{menu6}}</div>
            </div>
             <!--department maneger-->
            <div class="menueClass" *ngIf="type=='man' || type=='itMan'" (click)="functionTeam()" [ngStyle]="{'float': float}">
                <div><img src="../../assets/imgs/team.png" style="width:18px"></div>
                <div class="labelClass">{{menu8}}</div>
            </div>
            <!--department maneger-->
            <div class="menueClass" *ngIf="departmentId==1 && type=='suber'"  (click)="functionNewtasks()" [ngStyle]="{'float': float}">
                <div><img src="../../assets/imgs/orders.png" style="width:18px"></div>
                <div class="labelClass">{{newTasks}}</div>
            </div>
            <!--department maneger-->
            <div class="menueClass menueClassActive"  [ngStyle]="{'float': float}">
                <div><img src="../../assets/imgs/settingSelected.png" style="width:18px"></div>
                <div class="labelClass">{{menu3}}</div>
            </div>
        </div>
        </ion-toolbar>
    </ion-footer>
        <div class="addImageCss" *ngIf="type=='itMan'"><img (click)="functionAllrequest()" src="../../assets/imgs/newRequest.png" class="addImageclass"></div>
        <div class="addImageCss" *ngIf="type=='man' || (departmentId!=1 && type=='suber')"><img (click)="functionAddrequest()" src="../../assets/imgs/add.png" class="addImageclass"></div>
        <div class="addImageCss" *ngIf="departmentId==1 && type=='suber'"><img (click)="functionProgressTasks()" src="../../assets/imgs/newRequest.png" class="addImageclass"></div>
</ion-content>