/*start Header style*/
.headerToolbar{
--background: var(--ion-color-wight) !important;
--border-width:0px !important;
--padding-top:22px;
--padding-bottom:0px;
--padding-start:0px;
--padding-end:0px;
}
ion-content{
	--background: #F2FBFF;
    background-size: cover;
	background-position:center;
}
.header-md::after{
	background-image:none;
}
ion-title{
	padding-inline:5px !important;
}
.ios ion-title {
   position: inherit;
   width:100%;
   padding-top: 0px;
}
.PNIcon{
	font-size:35px;
	color:#0F75BD
}
.classValData{
    --background: #FFA500;
    color: var(--ion-color-wight);
    position: fixed;
    top: 0px;
    --padding-top: 4px;
    --padding-end: 4px;
    --padding-bottom: 4px;
    --padding-start: 4px;
    font-size: 9px;
	font-weight:100;
	z-index:100;
}
.showPas{
	color: #0f75bd
}
ion-radio{
	--color-checked: #ffffff;
    --color: red;
    --border-width: 0px;
    width: 22px;
    height: 22px;
    --inner-border-radius: 13px;
    margin-inline-end: 3px !important;
    margin: 0px !important;
    border: 20px;
    border-radius: 20px;
    background: #00adef;	
}
ion-label{
    margin: 0px;
    font-size:12px !important;
    color:var(--ion-color-formPlaseHolderColor) !important;
    padding-right: 10px;
	padding-left: 10px;
    margin-bottom: 7px;
    padding-top: 7px;

}
/*end Header style*/
/*start content style*/
.allPage{
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
	height: 100%;
}
.startWightCurv{
	width: 100%;
    text-align: center;
    margin: 0px auto;
    position: fixed;
}
.wightCurv{
	width: 300px;
    position: relative;
    bottom: 40px;
    border-radius: 100%;
    background-color: var(--ion-color-wight);
    height: 50px;
    display: inline-table;
}
.addImageCss{
	position: fixed;
    text-align: center;
    z-index: 100000000;
    bottom: 45px;
    height: 50px;
    width: 100%;
}
.addImageclass{
	width: 70px;
    padding: 7px;
    background: #F2FBFF;
    border-radius: 100%;
}
ion-item{
   --min-height:44px;
   --background: var(--ion-color-wight);
   --ion-background-color: var(--ion-color-wight);
   --inner-padding-start:0px;
   --padding-bottom:0px;
   border-radius:9px;
}
.errorFiled{
	 border:1px solid red;
}
.succsessFiled{
	 border:1px solid green;
}
ion-input{
	--placeholder-color:var(--ion-color-formPlaseHolderColor);
	--placeholder-opacity:1;
	color:var(--ion-color-formPlaseHolderColor);
	font-size:13px;
	padding-top: 2px !important;
}
ion-datetime{
	--placeholder-color:var(--ion-color-formPlaseHolderColor);
	--placeholder-opacity:1;
	color:var(--ion-color-formPlaseHolderColor);
	font-size:13px;
}
ion-select{
	--placeholder-color:var(--ion-color-formPlaseHolderColor);
	--placeholder-opacity:1;
	color:var(--ion-color-formPlaseHolderColor);
	font-size:13px;
}
ion-textarea{
	--placeholder-color:var(--ion-color-formPlaseHolderColor);
	--placeholder-opacity:1;
	color:var(--ion-color-formPlaseHolderColor);
	font-size:13px;
}
.oneButton{
	--background: #00ADEF;
    --color: var(--ion-color-primary-contrast) !important;
    --border-radius: 9px;
    --padding: 0px;
    height: 50px;
    width: 93%;
	text-transform:none;
}
.sendReplyTo{
	font-size:15px;
	color:#000000;
}

.oneButton.activated{
	--background:#00ADEF;
	padding:0px;
}
.divButtonClass{
	text-align:center;
	padding-top:17px;
}
.keyDiv{
	padding-left:7px;
	padding-top:5px;
	padding-right:7px
}
.ionTitle {
  color: var(--ion-color-formPlaseHolderColor);
  font-size: 13px;
  font-weight:100;
  text-align: start;
  padding-top:7px !important;
  margin-right: 4px;
  margin-left: 4px;
}
ion-segment{
	background: #00ADEF;
}
ion-segment-button{
	--color-checked:var(--ion-color-searchButton);
	--color:#ffffff;
	min-width: 50px;
	--border-width:0px;
	--indicator-color: #ffffff;
}
/*start content style*/
/*start footer menu style*/
ion-icon {
  font-size: 18px;
}
/*end footer menu style*/