<ion-header>
  <ion-toolbar  class="headerToolbar">
    <ion-title>
        <div>
            <ion-grid [ngStyle]="{'direction': dir}" style="padding-bottom:0px">
                <ion-row>
                    <ion-col class="textAlignCenter" size="12" style="padding:0px">
                    	<div style="font-size:20px;color:#000000">
                       		{{sendMessageTo}}
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div class="startWightCurv">
        <div class="wightCurv"></div>
    </div>
     <div class="allPage">
      <div class="marginTop20">
            <form style="display: contents;" (ngSubmit)="functionOrderReplyAdd()">
            <div class="paddingBottom12 sendReplyTo" *ngIf="getDataByUser == 3">
            	{{maintenanceSupervisors}}: {{fullNameToTask}}
            </div>
            <div class="paddingBottom12 sendReplyTo" *ngIf="isErrorReply == 4">
            	{{maintenanceManager}}
            </div>
           <div class="paddingBottom12">
                <ion-item [ngStyle]="{'direction': dir}" lines="none" class="{{errorReply}}">
                    <ion-textarea rows="5" [(ngModel)]="replyMsg" [ngModelOptions]="{standalone: true}" placeholder="{{replyPlaceholder}}" (ionInput)="checkReply($event)"></ion-textarea>
                </ion-item>
                <div class="errorTitle" *ngIf="isErrorReply == 0">{{isErrorReplyMsg}}</div>
            </div>
             <div>
                 <ion-grid [ngStyle]="{'direction': dir}" style="padding-bottom:0px">
                    <ion-row>
                         <ion-col class="textAlignCenter">
                            <div class="divButtonClass">
                                <ion-button class="oneButton fontSize14" (click)="functionOrderReplyAdd()" id="submit">{{add}}</ion-button>
                              </div>
                        </ion-col>
                        
                        <ion-col class="textAlignCenter">
                            <div class="divButtonClass">
                                <ion-button class="oneButton fontSize14" (click)="closeModel()" id="submit">{{cancel}}</ion-button>
                              </div>
                        </ion-col> 
                    </ion-row>
                </ion-grid>
            </div>
            <button style="visibility:hidden" id="submit" ion-button type="submit" ></button>
            </form>
        </div>
     </div>
</ion-content>