/*start Header style*/
.headerToolbar{
--background: var(--ion-color-wight) !important;
--border-width:0px !important;
--padding-top:22px;
--padding-bottom:0px;
--padding-start:0px;
--padding-end:0px;
}
ion-content{
	--background: #F2FBFF;
    background-size: cover;
	background-position:center;
}
.header-md::after{
	background-image:none;
}
ion-title{
	padding-inline:5px !important;
}
.ios ion-title {
   position: inherit;
   width:100%;
   padding-top: 0px;
}
.PNIcon{
	font-size:24px;
	color:#0F75BD
}
.classValData{
    --background: #FFA500;
    color: var(--ion-color-wight);
    position: fixed;
    top: 0px;
    --padding-top: 4px;
    --padding-end: 4px;
    --padding-bottom: 4px;
    --padding-start: 4px;
    font-size: 9px;
	font-weight:100;
	z-index:100;
}
.sortingFilterLargDiv{
	width: 100%;
    direction: ltr;
    padding-top: 5px;
    position: fixed;
    margin: 0px auto;
    padding-left: 25px;
    padding-right: 25px;
}
.sortingFilterSecoundDiv{
	width:110px;
	display:flex;
	background:#ffffff;
	border-radius: 6px;
}
.sortingFilterDiv{
	float:left;
	width:49%;
	text-align:center;
	margin-top: 8px;
}
.borderDiv{
	float:left;
	width:1%;
	text-align:center;
	border-right:1px solid #ccc
}
.divEmptyVal{
    text-align: center;
    padding-top: 200px;
}
.emptyFirstText{
    font-size: 20px;
    color:#0f75bd;
    padding-bottom: 5px;
}
.emptyLastText{
    font-size: 15px;
     color:#0f75bd;
}
.ordersInformation{
	color:#000000;
	font-size:13px;
	padding-top:5px
}
/*end Header style*/
/*start content style*/
.allPage{
	padding-bottom: 85px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
	 height: 100%;
}
.startWightCurv{
	width: 100%;
    text-align: center;
    margin: 0px auto;
    position: fixed;
}
.wightCurv{
	width: 300px;
    position: relative;
    bottom: 40px;
    border-radius: 100%;
    background-color: var(--ion-color-wight);
    height: 50px;
    display: inline-table;
}
.addImageCss{
	position: fixed;
    text-align: center;
    z-index: 100000000;
    bottom: 45px;
    height: 50px;
    width: 100%;
}
.addImageclass{
	width: 70px;
    padding: 7px;
    background: #F2FBFF;
    border-radius: 100%;
}
.oneButton{
	--background: #00ADEF;
    --color: var(--ion-color-primary-contrast) !important;
    --border-radius: 9px;
    --padding: 0px;
    height: 40px;
    width: 100%;
	text-transform:none;

}
.oneButton.activated{
	--background:#00ADEF;
	padding:0px;
}
.divButtonClass{
	text-align:center;
	padding-top:3px;
}
/*start content style*/
/*start footer menu style*/
ion-icon {
  font-size: 18px;
}
ion-footer{
	background:#F2FBFF;
}
.footerToolbar{
	--background: #0F75BD;
    --border-width: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-start: 0px;
    --padding-end: 0px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
}
.menueClass{
	background: #0F75BD;
	width: 20%;
    text-align: center;
    padding-bottom: 8px;
    cursor: pointer;
    padding-top: 11px;
	color:var(--ion-color-wight);
}
.menueClassActive{
	color:#FFFF00;
}
.labelClass{
	margin-top:-2px;
	font-size:11px !important;
}
/*end footer menu style*/