<ion-content>
    <div style="text-align:center">
    	<img style="width:100%;" src="../../assets/imgs/20943389.jpg" >
    </div>
    <div class="divEmptyVal">
        <div class="emptyFirstText">
           Important Update Available On Store
        </div>
        <div class="emptyLastText">
            To Continue working on the App You must Update to the latest Version
        </div>
    </div>
     <div>
          <div class="divButtonClass">
            <ion-button class="oneButton fontSize18" id="submit" (click)="functionGoStore()"><span style="font-size:15px;padding-top:4px">Update</span></ion-button>
          </div>
        </div>
</ion-content>