ion-content{
	--background: none;
    background-size: cover;
	background-position:center;
}
.closeIcon{
	font-size:24px;
	color:#0F75BD;
}
ion-slides {
  height: 100%;
}
.contant{
	padding: 5px;
    font-size: 13px;
    color: #000000;
}
.title{
	padding-top: 15px;
    font-size: 18px;
	font-weight:bold;
    color: #000000;
}